<h1> Here you can see your product in detail: </h1>

<div>

@if (product(); as p) {
 
    <h1> Title: {{ p.title }} </h1>
    <h2> Price: {{ p.price }} </h2>
    <p> Description: {{ p.description }} </p>
    <img [src]="p.image" alt="This is an image">
    <p> Category: {{ p.category }} </p>
    <button class="btn1" (click)="returnToProductList()"> Return to product list </button>

    
 }


@else {
    <p> Product not found </p>
    <button class="btn1" (click)="returnToProductList()"> </button>
}
</div>
